<div class='user-header'>
  <h1><%= @user.username %></h1>
</div>

<div class="image-container">
  <img src= '<%=@user.image_link %>' class="profile-image">
</div>

<div class="bio-container">
  <p class='user.bio'>

</p>
</div>
