<div class='user-header'>
  <h1><%= @user.username %></h1>
</div>

<div class="user-image-container well well-sm">
  <img src= '<%=@user.image_link %>' class="profile-image">
</div>

<div class="bio-container panel-default">
  <p class="panel-body">
    placeholder
  </p>
  <%= form_for @user, html: {class: "hidden panel-body"} do |f| %>
    <%= f.text_field :bio %>

  <% end %>
  <div class="panel-footer">
    <a href="" class="btn btn-primary btn-xs">Edit Bio</a>
  </div>
</div>
