// Place all the styles related to the Category controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
width: 960px;
margin: auto;
text-align: left;
}

.individual_category {
  border-bottom: thin dotted #ff0000;
  font-size: 250%;
  clear:both;
  margin-right: 5px;
}

#category_title {
  font-size: 350%;
}

#hi {
  border: thin solid #ff0000;
  padding: 50px;
}

.well img {
  max-width: 160px;
  border-radius: 20px;
  float: left;
  padding: 10px;
}

.well.well-lg {
  width: 40%;
  height: 40%;
  display: inline-block;
  float: left;
  margin: 10px;
}


