body {
width: 960px;
margin: auto;
text-align: left;
}

.page-header{
  text-align:center;
  font-weight: bolder;
  background-color: #e95420;
  margin-top: 0px;
  top: 0;
  opacity: 1;
  position: static;
  color: white;
}
.loginmain{
  float:right;
}
.signupmain{
  float: right;
}

.indexnav {
  margin-bottom:0px;
}

.homepanel{
  text-align: center;
  top: 50%;
  width: 30%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}

#title {
margin-top: 0;
margin-bottom: 0;
vertical-align: middle;
padding-bottom: 0;
}

#splash {
  background-image: image-url('food.jpg');
  position: static;
  height: 100%;
  width: inherit;
  display: block;
  opacity: 0.9;
  position: absolute;
  z-index: -1;
}

#pag_header {
  width: 980px;
}
