<div class= "hi">
  <%=image_tag 'all_categories_final.png', class: 'example-class', id: 'cat_header'%> <br><br><br><br>

  <% @categories.each do |category| %>
     <div class="individual_category"><%= category.name %><%=link_to("See more...", category_path(category), class:"btn btn-link")%>
  </div><br><br>


  <% category.recipes.each do |recipe| %>
    <%= render partial: "recipes/card", :locals => {:recipe => recipe}%>
  <% end %>

<% end %>
