<div id= "hi">
<h1 id= "category_title"> All Categories</h1><br><br><br>

<ul>
  <% @categories.each do |category| %>
    <li>
     <%= category.name %><br>
      </li>
     </ul>
 <% category.recipes.each do |recipe| %>
    <%= render partial: "recipes/card", :locals => {:recipe => recipe}%>
  <% end %>
  <br>
<% end %>
