<div class = "page-header">

   <h1>
      Your Kitchen <Br>
      <small>Register</small>
   </h1>

</div>
<%if current_user %>
<%= link_to("Home", current_user)%>
<%else%>
<%= render partial: "users/new"%>
<%end%>
