<div id="splash">
</div>
<div class = "page-header">
   <h1 id="title">
      Your Kitchen
   </h1>
</div>
<div class="panel panel-primary homepanel">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome!</h3>
    <a href=
  </div>
  <div class="panel-body">
    <%if current_user %>
    <%=link_to("Home", current_user, class:"btn btn-link")%>
    <%else%>
    <%= render partial: "users/new"%>
    <%end%>
  </div>
</div>
